body {
background-color: darkcyan;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 4px;
  width: 85%;
}
h1 {
  color: #f0fff0;
  text-decoration: underline;
}
h3 {
  color: #f0fff0;
  text-decoration: underline;
}
